img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
}

body {
	background: #66ccff;
	margin:0px;
}
#body{
	background: white;
	width: 62%;
	margin: auto;
	overflow: auto;
	min-height:600px;
}
#menu {
	margin: 0px;
	padding: 0px;
}

table {
	margin-left:auto;
	margin-right:auto;
}

.youngs_table {
	width: 100%;
	border: 1px solid black;
}

.youngs_table tr:hover{
	background: #f4511e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc3333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #000000;
}

input[type=password], input[type=text] {
	margin-top: 5px;
	width: 250px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 12px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}

input[type="text"] {
	background-image: url('media/user.png');
}

input[type=password] {
	background-image: url('media/pass.png');
}

#content {
	padding: 10px;
	text-align: center;
}

.loginbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.loginbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginbutton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.loginbutton:hover span {
  padding-right: 25px;
}

.loginbutton:hover span:after {
  opacity: 1;
  right: 0;
}